extends ./_component/_layout

block title 
  title TOP

block main
  main
    h1 JAPAN
    ul 
      li 
        h2 TOKYO
        div 
          img(src="img/tokyo@2x.jpg", alt="東京タワー")
      li.pickup 
        h2 OSAKA
        div 
          img(src="img/osaka@2x.jpg", alt="道頓堀")
      li 
        h2 NAGOYA
        div 
          img(src="img/nagoya@2x.jpg", alt="名古屋城")